@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать в Hurdos App</h1>

    <p>Здесь можно узнать <a href="/weather">рандомную погоду.</a></p>
    <p>Также есть <a href="/api/weather" target="_blank">API</a></p>
</div>
